<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>transaction1</string>
		<key>amount</key>
		<string>100</string>
		<key>identifier</key>
		<string>100</string>
		<key>children</key>
		<array>
			<dict>
				<key>comment</key>
				<string>test0</string>
				<key>identifier</key>
				<string>1000</string>
				<key>mode</key>
				<string>cash</string>
				<key>date</key>
				<string>2015-12-01</string>
				<key>category</key>
				<string>bank</string>
				<key>split</key>
				<array>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>10000</string>
						<key>amount</key>
						<string>200</string>
					</dict>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>10001</string>
						<key>amount</key>
						<string>100</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>split</key>
				<array>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>20000</string>
						<key>amount</key>
						<string>200</string>
					</dict>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>20001</string>
						<key>amount</key>
						<string>100</string>
					</dict>
				</array>
				<key>date</key>
				<string>2015-12-02</string>
				<key>identifier</key>
				<string>1001</string>
				<key>comment</key>
				<string>test1</string>
				<key>category</key>
				<string>food</string>
				<key>mode</key>
				<string>cash</string>
			</dict>
			<dict>
				<key>split</key>
				<array>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30000</string>
						<key>amount</key>
						<string>200</string>
					</dict>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>100</string>
					</dict>
				</array>
				<key>date</key>
				<string>2015-12-03</string>
				<key>comment</key>
				<string>test2</string>
				<key>identifier</key>
				<string>1002</string>
				<key>category</key>
				<string>bank</string>
				<key>mode</key>
				<string>cash</string>
			</dict>
			<dict>
				<key>split</key>
				<array>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>200</string>
					</dict>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>100</string>
					</dict>
				</array>
				<key>date</key>
				<string>2015-05-15</string>
				<key>mode</key>
				<string>cash</string>
				<key>identifier</key>
				<string>1003</string>
				<key>comment</key>
				<string>test3</string>
				<key>category</key>
				<string>bank</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>transaction3</string>
		<key>identifier</key>
		<string>101</string>
		<key>amount</key>
		<string>110</string>
		<key>children</key>
		<array>
			<dict>
				<key>split</key>
				<array>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>200</string>
					</dict>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>100</string>
					</dict>
				</array>
				<key>date</key>
				<string>2015-12-03</string>
				<key>comment</key>
				<string>test4</string>
				<key>mode</key>
				<string>cash</string>
				<key>identifier</key>
				<string>2000</string>
				<key>category</key>
				<string>bank</string>
			</dict>
			<dict>
				<key>split</key>
				<array>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>200</string>
					</dict>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>100</string>
					</dict>
				</array>
				<key>date</key>
				<string>2015-12-03</string>
				<key>comment</key>
				<string>test5</string>
				<key>identifier</key>
				<string>2001</string>
				<key>mode</key>
				<string>cash</string>
				<key>category</key>
				<string>bank</string>
			</dict>
			<dict>
				<key>split</key>
				<array>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>200</string>
					</dict>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>100</string>
					</dict>
				</array>
				<key>date</key>
				<string>2015-12-03</string>
				<key>comment</key>
				<string>test6</string>
				<key>identifier</key>
				<string>2002</string>
				<key>mode</key>
				<string>cash</string>
				<key>category</key>
				<string>bank</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>transaction2</string>
		<key>identifier</key>
		<string>102</string>
		<key>amount</key>
		<string>110</string>
		<key>children</key>
		<array>
			<dict>
				<key>split</key>
				<array>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>200</string>
					</dict>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>100</string>
					</dict>
				</array>
				<key>date</key>
				<string>2015-12-03</string>
				<key>comment</key>
				<string>test7</string>
				<key>mode</key>
				<string>cash</string>
				<key>identifier</key>
				<string>3000</string>
				<key>category</key>
				<string>bank</string>
			</dict>
			<dict>
				<key>split</key>
				<array>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>200</string>
					</dict>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>100</string>
					</dict>
				</array>
				<key>date</key>
				<string>2015-12-03</string>
				<key>comment</key>
				<string>test8</string>
				<key>identifier</key>
				<string>3001</string>
				<key>mode</key>
				<string>cash</string>
				<key>category</key>
				<string>bank</string>
			</dict>
			<dict>
				<key>split</key>
				<array>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>200</string>
					</dict>
					<dict>
						<key>rubric</key>
						<string>house</string>
						<key>identifier</key>
						<string>30001</string>
						<key>amount</key>
						<string>100</string>
					</dict>
				</array>
				<key>date</key>
				<string>2015-12-03</string>
				<key>comment</key>
				<string>test9</string>
				<key>identifier</key>
				<string>3002</string>
				<key>mode</key>
				<string>cash</string>
				<key>category</key>
				<string>bank</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
